@import "../../utils/cssVariables";

.article {
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  &__title {
    text-align: center;
    font-weight: bold;
    font-size: $fontSizeLarge;
    margin-top: $defaultPadding;
  }
  &__content {
    margin-top: $defaultPadding;
  }
  &__link {
    color: blue;
    text-decoration: underline;
    margin-left: auto;
    margin-top: $defaultPadding / 2;
  }
}