@import "../../utils/cssVariables";

.headlineRow {
  display: flex;

  &:not(:last-of-type) {
    margin-bottom: $defaultPadding;
    padding-bottom: $defaultPadding;
    border-bottom: 1px solid lightgray;
  }
  &__img {
    border-radius: 4px;
    width: 150px;
    height: 100px;
    object-fit: cover;
  }
  &__textContent {
    margin-left: $defaultPadding;
  }
  &__title {
    font-weight: bold;
    font-size: $fontSizeNormal;
  }
  &__description {
    font-size: 14px;
    margin-top: $defaultPadding / 2;
  }
}