@import "../../utils/cssVariables";

.header {
  position: sticky;
  top: 0;
  background-color: $color_white;
  z-index: 1;

  &__list {
    min-height: $headerHeight;
    display: flex;
    list-style: none;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px 0;
  }
  &__listItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    flex: 1;

    &:not(:last-of-type) {
      &:after {
        content: '';
        width: 1px;
        height: 10px;
        background-color: lightgray;
        position: absolute;
        right: 0;
      }
    }
  }
  &__link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    text-align: center;
    height: 100%;
    padding: $defaultPadding 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    transition: all $defaultTimingAnimation;
    cursor: pointer;

    &--active {
      color: $color_blue;
      border-bottom-color: $color_blue;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    &__list {
      flex-wrap: wrap;
    }
    &__listItem {
      flex-basis: 50%;
    }
  }
}