$color_white: #fff;
$color_blue: #3c5afb;
$defaultTimingAnimation: .3s;
$defaultPadding: 20px;
$pageWidth: 1024px;
$headerHeight: 60px;
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeLarge: 20px;
