@import "./utils/cssVariables";

html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;

  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    outline: none;
    color: inherit;
  }
}
*, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
  outline: none;
}
.App {
  display: flex;
}
.container {
  max-width: $pageWidth;
  width: 100%;
  margin: 0 auto;
}
.pageContent {
  position: relative;
  min-height: 100vh;
  margin-top: $defaultPadding;
}